[submodule "vim/bundle/neobundle.vim"]
    path = vim/bundle/neobundle.vim
    url = https://github.com/Shougo/neobundle.vim.git
[submodule "vim/bundle/vim-colors-solarized"]
    path = vim/bundle/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git
